* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --col-primary: "#3a7d8c"; /* #3a7d8c */
  --col-primary80: "hsla(0, 0%, 0.1, 0.1)"; /* hsla(191, 41%, 39%, 0.3) */
  --col-primary10: "hsla(0, 0%, 0.1, 0.1)"
  --col-secondary: "#fefbd0"; /* hsl(56, 96%, 91%) */
  --col-secondary80: "hsl(56, 96%, 91%, 0.1)"; /* hsla(56, 96%, 91%, 0.2) */
  --col-shadow: "#55b6cc"; /* #55b6cc */
  --url-image: "";
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
}
/* font weight info:
      montserrat : 300 
      roboto : 100, 400, 500, 700
  */

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--col-primary);
  color: var(--col-secondary);

  background-image: var(--url-image);
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  height: 100dvh;
}
body::-webkit-scrollbar {
  display: none;
}
section {
  padding: 112px 16px 0px 16px;
}
.page-content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-headings {
  padding-bottom: 16px;
  font-size: 24px;
  /* text-transform: uppercase; */
  letter-spacing: -1.5px;
}

.section-about {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr); */
  padding-bottom: 2rem;
  /* background-color: yellow; */


  /* border: 1px solid black; */
}

.section-contact {
  height: 100vh;
}

h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1.25;
}
p {
  font-size: 1rem;
  line-height: 1.6; 
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}
button {
  border: 1px solid var(--col-secondary);
  background-color: var(--col-primary);
  color: var(--col-secondary);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  margin-top: 16px;
  transition: 0.4s;
}

.mylogo {
  background-color: var(--col-secondary);
  color: #3a7d8c;
  border-radius: 4px;
}

/*
Standards
*/

.standard-media-flex {
  display: flex;
  flex-direction: column;
}

/* NAV BAR */
nav {
  width: 100vw;
  background-color: var(--col-primary);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
.navbar-top-logo {
  color: var(--col-secondary);
  letter-spacing: -1px;
  transition: all ease-in 0.3s;
}

.navbar-top,
.navbar-bottom {
  position: fixed;
}
.navbar-top {
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-bottom {
  bottom: 0;
  z-index: 1000;
}
.navbar-top-content,
.navbar-bottom-content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar-top-content {
  padding: 16px;
  align-items: center;
}
.navbar-bottom-content {
  padding: 8px 16px 24px 16px;

  align-items: end;
}
.navbar-bottom-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.navbar-bottom-items > p {
  font-size: 0.6rem;
  text-align: center;
  letter-spacing: 0.6px;
  
}

/*
Added empty space to keep it more organized
Easier to navigate













*/
/* ICONS */
.svg-items {
  color: var(--col-secondary);
  font-size: 1rem;
}
.arrow-icons {
  color: var(--col-secondary);
  font-size: 2rem;
  text-align: center;
  transition: all ease-in 0.3s;
}


.go-icon {
  color: var(--col-secondary);
  font-size: 24px;
}

.circle-mail-icon {
  border: 1px solid var(--col-secondary);
  padding: 10px;
  border-radius: 100px;
  font-size: 24px;
  color: var(--col-secondary);
  transition: transform 2s ease-in-out;
}


iconify-icon {
  font-size: 28px;
}

/*
Added empty space to keep it more organized
Easier to navigate













*/
/* THEME SELECTOR */
/* Overlay style */


.menu-icon {
  font-size: 24px;
  cursor: pointer;
  transition: 1s;
  padding: 16px 0px 16px 32px;
}




/*
Added empty space to keep it more organized
Easier to navigate













*/





/*
Added empty space to keep it more organized
Easier to navigate













*/
.icons {
  font-size: 32px;
}
/*INTRODUCTION STYLING*/
.mainpage {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 2rem;
}

.intro-img-link {
  height: 70%;
  width: 40%;
  position: relative;
}

.intro-arrow {
  display: none;
  position: absolute;
  bottom: 16px;
  left: 45%;
  margin: 16px;
  color: white;
  font-size: 2rem;
  transition: all ease-in 0.3s;
}
.intro-arrow:hover {
  scale: 1.2;
}

.intro-img-link:hover .intro-arrow {
  display: block;
}

.intro-img {
  display: none;
  height: 100%;
  width: 100%;
  /* height: 70%; */
  /* width: 40%; */
  object-fit: cover;
  border: 1px solid var(--col-secondary80);
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all ease-in 0.1s;
}



.intro-parapgraph {
  font-size: 1.25rem;

}

.introduction > a {
  text-align: center;
  color: var(--col-secondary);
  font-size: 32px;
}

/* .skills-icons {
  background-color: yellowgreen;
  position: relative;
  overflow: hidden;
  display: flex;
  bottom: 80px;
  gap: 0.5em;
  color: var(--col-secondary);
  font-size: 24px;
}



.skills-icons > img {
  width: 40px;
  color: var(--col-secondary80);
}
.skills-icons .custom-icon {
  animation: rotate 10s linear infinite;
} */

/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .skill-item-icon {
  flex-shrink: 0; 
  margin-right: 20px; 
  position: relative; 
}

.skill-item-icon:last-child {
  margin-right: 0; 
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltiptext {
  font-size: 0.75rem;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 110px;

  background-color: var(--col-primary);
  color: var(--col-secondary);
  border: 1px solid var(--col-secondary);
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;

  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  margin-left: -60px;
} */

.skills-icons-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.skills-icons {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-item-icon {
  flex-shrink: 0;
  /* padding: 16px; */
  flex: 0 0 auto;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.skill-item-icon > p {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  /* color: var(--col-secondary80); */
}



/*
Added empty space to keep it more organized
Easier to navigate















*/
/* UI CARDS STYLING */

.ui-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
.ui-card {
  min-width: 350px;
  background-color: var(--col-primary10);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 12px;
  box-shadow: -1px -1px 4px var(--col-shadow) ; 
  overflow: hidden;
  box-shadow: -1px -1px 4px var(--col-shadow), 5px 6px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .ui-card:hover {
  
} */
.ui-cards-container a {
  list-style: none;
  cursor: default;
}
.ui-card-image {
  height: 345px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: saturate(80%);
  transition: 0.4s;
}


.ui-card-text-container {
  padding: 16px;
  color: var(--col-secondary);
  display: flex;
  flex-direction: column;
  gap: 8px;

}
.ui-card-heading {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: -0.7px;
  border-bottom: 1px solid var(--col-secondary);
  padding-block: 8px;
}
.ui-card-paragraph {
  padding: 4px 0px 12px 0px;
  height: 90px;
  overflow-y: hidden;
}
.ui-card-icons {
  align-items: flex-end;
  display: flex;
}
.ui-card-icons .custom2-icon {
  animation: rotate2 10s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg); /* Start with 0 degrees rotation */
  }
  to {
    transform: rotate(360deg); /* End with 360 degrees rotation (full circle) */
  }
}
.ui-icon {
  margin-right: 10px;
  font-size: 20px;
}
.ui-card-button {
  width: 100%; 
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}
.ui-card-button-contained {
  background-color: var(--col-secondary);
  color: var(--col-primary);
  width: 100%; 
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}
.ui-card-button-contained > .svg-items {
  color: var(--col-primary);
  
}

.custom-hover-icon {
  transition: transform 1s;
}


.ui-card-buttons-container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);  

  gap: 8px;
  width: 100%; 
}
.ui-card-buttons-container-single {
  gap: 8px;
  width: 100%; 
}

/*
Added empty space to keep it more organized
Easier to navigate













*/

.about-me-paragraph {
  width: 100%;

}

.about-me-top-paragraph-with-image-div {
display: flex;
gap: 16px;
height: 144px;


}
.about-me-info-head {
  font-weight: 700;
}
.about-me-info {
  font-weight: 300;
}



.about-me-image {
   border: 2px solid var(--col-primary80); 
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  height: 100%;
  object-fit: cover;
}

 .about-me-paragraph p {
  font-size: 1rem;
  letter-spacing: 0.5px;
} 





/*MISC ICON STYLINGS*/
.contact-me {
  padding-bottom: 120px;
}
.contact-me h2 {
  padding: 0;
}
.contact-me-icons {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.contact-icons-div {
  text-align: center;
  background-color: var(--col-secondary80);
  padding: 2em 2em 5em;
  scale: (1);
  transition: 0.07s;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
   box-shadow: 3px 3px 10px #37373720; 

}

.contact-me-sub {
  letter-spacing: -3px;
  font-size: 0.85;
  letter-spacing: -1px;
  padding-top: 4px;
  color: var(--col-secondary);
  opacity: 1;
  transition: 0.3s;
}

.contact-icons-resize {
  transition: all ease-in 0.3s;
  font-size: 24px;
}


.icon-hover-size {
  transition: 0.2s;
  font-size: 24px;
}



/*
Added empty space to keep it more organized
Easier to navigate















*/
/*ACCORDION STYLING*/

.accordion {
  padding-top: 90px;
  width: 100%;
}


.accordion-header {
  letter-spacing: 0.6px;
  background-color: var(--col-secondary80);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  font-weight: 700;
}
.accordion-header >p {
  font-size: 1rem;
}
.cv-link-styling {
  
  color: var(--col-secondary);
  text-decoration: underline;
  transition: 0.1s;
}
.cv-link-styling:focus {
  /* letter-spacing: 0.5px; */
  font-weight: 700;
}

th {
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.5px;
}
td {
  text-align: left;
  padding: 2px 8px;
  font-weight: 300;
  letter-spacing: 0.5px;
}



/* ROTATE ICON */

.accordion-content {
  display: none;
  padding: 16px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.active {
   display: block; 
   box-shadow: 3px 3px 10px #37373720;  
}
.accordian-icons {
  font: 10px;
  transform: rotate(0deg);
}
.icon-active {
  transform: rotate(180deg);
}
.contact-me-text {
  opacity: 0.8;
}

/*
Added empty space to keep it more organized
Easier to navigate















*/

/*MEDIA QUERY */

@media only screen and (min-width: 768px) {

  .mainpage {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .intro-img {
    display: block;
  }
  .intro-img-parent {
    display: block;
    height: 40%;
    width: 100%;
  }

  .contact-me-sub {
    letter-spacing: -3px;
    font-size: 0.85;
    letter-spacing: -1px;
    padding-top: 4px;
    color: var(--col-secondary);
    opacity: 0;
    transition: 0.3s;
  }

  .intro-img:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  button:hover {
    background-color: var(--col-secondary80);
  }

  .navbar-top-logo:hover {
    letter-spacing: -0.4px;
  }

  .arrow-icons:hover {
    color: var(--col-secondary80);
  }

  .circle-mail-icon:hover {
    transform: rotate(360deg);
  }

  .menu-icon:hover {
    transform: scale(1.2);

  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltiptext:hover {
    background-color: var(--col-secondary);
    color: var(--col-primary);
  }

  .ui-card-image:hover {
    filter: saturate(100%);
     transform: scale(1.03); 
     box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2); 
  }

  .ui-card-button-contained:hover {
    background-color: var(--col-primary);
    color: var(--col-secondary);
  }

  .ui-card-button-contained:hover > .svg-items{ 
    color: var(--col-secondary);
  }

  button:hover .custom-hover-icon {
    transform: rotate(360deg);
  }

  .contact-icons-div:hover .contact-icons-resize {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .contact-icons-div:hover .contact-me-sub {
    opacity: 1;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .contact-icons-div:hover {
    transform: scale(0.95);
    border: 1px solid var(--col-secondary);
  }
  
  .icon-hover-size:hover {
    transform: scale(0.9);
  }

  .cv-link-styling:hover {
    /* letter-spacing: 0.5px; */
    font-weight: 700;
  }

  .accordion-header:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 4rem;
  }

  .introduction {
    max-width: 720px;  }

  .intro-parapgraph {
    width: 75%;
  }
  section {
    padding: 112px 16px 0px 16px;
  }

  .skills-icons {
    gap: 0.5em;
    font-size: 32px;
    margin-bottom: 40px;
  }
  .go-icon {
    font-size: 32px;
  }
  iconify-icon {
     font-size: 36px; 
  }
  .section-headings {
    font-size: 2rem;
  }

  .contact-me-icons {
    padding-top: 16px;
    grid-template-columns: repeat(4, 1fr);
  }

  .theme-menu {
    height: 60vh;
  }

  .section-about {
    gap: 24px; 
  }
  .accordion {
    padding-top: 0px;

  }

}

@media only screen and (min-width: 890px) {


  .ui-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .ui-card-paragraph {
    font-size: 1rem;
  }
}




@media only screen and (min-width: 1024px) {

  .intro-img-parent {
    height: 60%;
  }

  .ui-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }



}


@media only screen and (min-height: 1440px) {
  .introduction {
    height: 85vh;
  }



}

