* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --col-primary: #3a7d8c;
  --col-primary80: hsla(191, 41%, 39%, 0.3);
  --col-secondary: #fefbd0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* font weight info:
      montserrat : 300 
      roboto : 100, 400, 500, 700
  */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--col-primary);
  color: var(--col-secondary);
  max-width: 1200px;
  /* width: 100vw; */
  margin: 0 auto;
}
body::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 14px;
  line-height: 1.5;
}

nav {
  height: 80px;
  width: 100vw;
  width: 100%;
  background-color: var(--col-primary80);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.navbar-top {
  position: fixed;

  top: 0;
  padding: 16px;
  max-width: 1200px;
}
.navbar-top-content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.circle-mail-icon {
  border: 1px solid var(--col-secondary);
  padding: 10px;
  border-radius: 100px;
  font-size: 24px;
  color: var(--col-secondary);
}
.theme-dropdown {
  border: none;
  font-size: 24px;
}
#themeSelect {
  color: var(--col-secondary);
  background-color: transparent;
  border: 1px solid var(--col-secondary);
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
#themeSelect:focus {
  outline: none;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  max-width: 1200px;
}
.navbar-bottom-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
}
.navbar-bottom-items {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.navbar-bottom-items > p {
  font-size: 12px;
  text-align: center;
}
.svg-items {
  color: var(--col-secondary);
  margin-bottom: 0.2em;
  font-size: 24px;
}

.page-content-container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 96px 16px 0px 16px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 2em;
  /* padding: 96px 16px 0px 16px; */
  height: 100vh;
}
.introduction > a {
  text-align: center;
  color: var(--col-secondary);
  font-size: 32px;
}
.section-headings {
  padding-bottom: 16px;
  font-size: 24px;
}
.skills-icons {
  display: flex;
  gap: 0.5em;
  color: var(--col-secondary);
  opacity: 0.6;
  font-size: 24px;
  z-index: -1;
}

button {
  border: 1px solid var(--col-secondary);
  background-color: var(--col-primary);
  color: var(--col-secondary);
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  margin-top: 16px;
}

/* UI CARDS STYLING */

.ui-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}
.ui-card {
  min-width: 350px;
  background-color: var(--col-primary);
  border-radius: 8px;
  box-shadow: -1px -1px 4px #55b6cc, 5px 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.ui-card-image {
  height: 345px;
  width: 100%;
  object-fit: cover;
}
.ui-card-text-container {
  padding: 16px;
}
.ui-card-text-container > h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.1px;
}
.ui-card-text-container > p {
  padding: 4px 0px 12px 0px;
  font-weight: 300;
  line-height: 1.4;
}
.ui-card-icons {
  align-items: center;
}
.ui-icon {
  margin-right: 10px;
  font-size: 20px;
}
.ui-card-button {
  width: 100%;
  bottom: 0;
}

/*MEDIA QUERY */
@media only screen and (min-width: 768px) {
  .ui-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 64px;
  }
  p {
    font-size: 24px;
    line-height: 1.5;
  }
  .introduction > p {
    width: 80%;
  }
  .skills-icons {
    gap: 0.5em;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .section-headings {
    font-size: 48px;
  }
}
