* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --col-primary: #3a7d8c;
  --col-primary80: hsla(191, 41%, 39%, 0.3);
  --col-secondary: #fefbd0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* font weight info:
      montserrat : 300 
      roboto : 100, 400, 500, 700
  */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--col-primary);
  color: var(--col-secondary);
}
body::-webkit-scrollbar {
  display: none;
}

.page-content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.ui-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.ui-card {
  min-width: 350px;
  background-color: var(--col-primary);
  border-radius: 8px;
  box-shadow: -1px -1px 4px #55b6cc, 5px 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.ui-card-image {
  height: 345px;
  width: 100%;
  object-fit: cover;
}
.ui-card-text-container {
  padding: 16px;
}
.ui-card-text-container > p {
  padding: 16px 0px;
}
.ui-card-icons {
  align-items: center;
}
.ui-icon {
  margin-right: 16px;
  font-size: 20px;
}
.ui-card-button {
}

/*MEDIA QUERY */
@media only screen and (min-width: 768px) {
  .ui-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
